body {
    background-color: gray;
    color: white;
    margin: 0;
}
li.navbar {
    float: right;
    display: block;
    padding: 6px;
    background-color: rgb(67, 95, 119);
    border: 2px rgb(255, 255, 255) solid;
}
a.navbar_text{
    padding: 5px;
}
.title {
    text-align: center;
}
