<!DOCTYPE html>
<html>
    <head>
        <title>Archiver</title>
        <link rel="stylesheet" href="../static/homepage/homepage.css">
    </head>
    <body>
        <div class="header">
            <ul>
                <li class="navbar"><a class="navbar_text" href="#">Home</a></li>
                <li class="navbar"><a class="navbar_text" href="login.html">Login</a></li>
                <li class="navbar"><a class="navbar_text" href="signup.html">Sign Up</a></li>
                <li class="navbar"><a class="navbar_text" href="search.html">Search</a></li>
            </ul>
        </div>
        <br>
        <h1 class="title">homepage</h1>
        <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, doloribus eaque! Nihil vitae consectetur eius sunt veritatis iure assumenda quo eos magnam error. Nemo sint obcaecati provident aspernatur quod maiores.</p>
        </div>

    </body>
</html>