{% extends 'base.html' %}

{% block title %} FA | Forgot Password {% endblock %}
{% block content %}

<h1>Forgot password</h1>

    {% if stage == "stage1" %}
    
    <form action="forgotpassword" method="post">
        <label for="emailField">Please enter the email tied to your account:</label>
        <input type="email" name="emailField" id="emailField">
        <input type="submit" value="Submit">
        <input type="hidden" value="stage1" id="stage" name="stage">
    </form>
    {% endif %}

    {% if stage == "stage2" %}
    <p>stage 2</p>
    <form action="forgotpassword" method="post">
        <p>Please enter the code recieved in your inbox. <br>Please check your spam as it may be located there too.</p>
        <label for="input_code">Code:</label>
        <input type="text" name="input_code" id="input_code">
        <input type="hidden" value="stage2" id="stage" name="stage">
        <input type="hidden" value="{{ mail }}" id="mail" name="mail">
        <input type="submit" value="Submit">
    </form>
    {% endif %}


    {% if stage == "stage3" %}
    <p>stage 3</p>
    <form action="forgotpassword" method="post">
        <label for="newpassword">Please enter your new password:</label>
        <input type="password" name="newpassword" id="newpassword">
        <input type="hidden" value="stage3" id="stage" name=stage>
        <input type="hidden" value="{{ mail }}" id="mail" name="mail">
        <input type="submit" value="Submit">
    </form>
    {% endif %}


    {% if stage == "done" %}
        <p>Your password has been successfully reset! You can log in again <a href="{{ url_for('login') }}">here</a>.</p>
    {% endif %}

{% endblock %}