{% extends 'base.html' %}

{% block title %} FA | Login {% endblock %}
{% block content %}
    <h1 class="title">Login</h1>
    <div>
        <form action="login" method="post">
            <label for="username">Username:</label><br>
            <input id="username" name="username" type="text">
            <label for="password">Password:</label><br>
            <input id="password" name="password" type="password">
            <input type="submit" value="Submit">
        </form>
    </div>
    <a href="{{ url_for('forgotpassword') }}">Forgot Password?</a>
{% endblock %}