{% extends 'base.html' %}

{% block title %} FA | Sign up {% endblock %}
{% block content %}
    <h1 class="title">Sign up</h1>
    <div>
        <form action="signup" method="post">
            <label for="username">Username:</label><br>
            <input id="username" name="username" type="text">
            <label for="password">Password:</label><br>
            <input id="password" name="password" type="password">
            <label for="email">Email:</label><br>
            <input id="email" name="email" type="email"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <a href="{{ url_for('login') }}">Have an account?</a><br>
    <a href="{{ url_for('forgotpassword') }}">Forgot Password?</a>
{% endblock %}