<!DOCTYPE html>
<html>
    <head>
        <title>Archiver</title>
        <link rel="stylesheet" href="../static/debug/debug.css"> 
    </head>
    <body>
        <h1 class="title">debug</h1>

        <div>
            <ul class="topnav">
                <a href="archive">archive</a>
                <a href="dashboard">dashboard</a>
                <a href="forgotpassword">forgotpassword</a>
                <a href="homepage">homepage</a>
                <a href="loading">loading</a>
                <a href="login">login</a>
                <a href="search">search</a>
                <a href="signup">signup</a>
                <a href="timeline">timeline</a>
            </ul>
        </div>
    </body>
</html>